*{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	box-sizing: border-box;
	font-family: Titillium Web;
}

.container{
	margin: 0px auto;
	max-width: 1440px;
	padding-top: 60px;
}

.container-about{
	margin: 0px auto;
	max-width: 1440px;
}

.container-team{
	margin: 0px auto;
	max-width: 1440px;
}

#home{
	background: #89509C;
	height: 600px;
	text-align: center;
}

#about{
	background: #17c2a4;
	height: 813px;
	text-align: center;
}

#team{
	color: #E7F1F8;
	height: 915px;
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}

.logo{
	display: inline-block;
}

.title{
	text-align: center;
	color: white;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700px;
	margin-top: 142px;
}

.about{
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: 700px;
	padding-top: 120px;
}

.row1{
	padding-bottom: 60px;
}

.row2{
	padding-bottom: 26px;
	font-size: 24px;
	font-weight: 700;
	color: white;
}

.row3{
	font-size: 16px;
	font-weight: 300;
	color: white;
}

.row4{
	width: 200px;
	height:200px;
	border-radius:50%;
}

.row5{
	color: #27283D;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 16px;
}

.row6{
	color: #30BAE7;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 30px;
}

.row7{
	color: #3C4761;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 30px;
}

.button{
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 18px;
	font-size: 18px;
	color: white;
	background-color: #eb7d4b;
	padding-left: 40px;
	font-weight: 700;
	margin-top: 60px;
	top: 50%;
	left: 50%;
	padding: 30px 80px;
	border-radius: 5px;
	border-bottom: 4px solid #c86a40;
}

header{
	overflow: hidden;
}

nav ul{
	padding-left: 0px;
	list-style-type: none;
	font-size: 0px;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 16px;
	font-size: 16px;
	color: white;
	padding: 10px 16px;
	font-weight: 400;
	padding: 5px 15px;
}

nav ul li a:hover,.active{
	background-color: #643a79;
}

.hr-about{
	width: 70px;
	height: 4px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 23px;
	background-color: #14a58c;
	border-width: 0px;
}

.hr-team{
	width: 70px;
	height: 4px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 26px;
	background-color: #BDD1DF;
	border-width: 0px;
}

.h1-about{
	color: white;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 80px;
}

.h1-team{
	color: #3c4761;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 80px;
}

.team{
	color: #3c4761;
	text-align: center;
	font-size: 40px;
	font-weight: 700px;
	padding-top: 126px;
}

.table1{
	width: 75%;
	margin: auto;
}

.table2{
	width: 75%;
	margin: auto;
	table-layout: fixed;
}

i{
	margin: 0px 4px 0px 4px;
	padding-top: 7px;
	color: white;
	background-color: #BDD1DF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}