*{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	box-sizing: border-box;
}

.container{
	margin: 0px auto;
	max-width: 1440px;
	padding-top: 60px;
}

#home{
	background: #89509C;
	height: 600px;
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}

.logo{
	display: inline-block;
}

.title{
	text-align: center;
	font-family: Titillium Web;
	color: white;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700px;
	margin-top: 142px;
}

.button{
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Titillium Web;
	line-height: 18px;
	font-size: 18px;
	color: white;
	background-color: #eb7d4b;
	padding-left: 40px;
	font-weight: 700;
	margin-top: 60px;
	top: 50%;
	left: 50%;
	padding: 30px 80px;
	border-radius: 5px;
	border-bottom: 4px solid #c86a40;
}

header{
	overflow: hidden;
}

nav{

}

nav ul{
	padding-left: 0px;
	list-style-type: none;
	font-size: 0px;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Titillium Web;
	line-height: 16px;
	font-size: 16px;
	color: white;
	padding: 10px 16px;
	font-weight: 400;
	padding: 5px 15px;
}

nav ul li a:hover,.active{
	background-color: #643a79;
}